<!DOCTYPE html>
<html>
    <head>
        <title> Some Website</title>
    </head>
<body>
     {{> header}}
    <h2>{{screamIt welcomeMsg}}</h2>
    <p>Some text here</p>

    {{> footer}}
</body>

</html>